In [1]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import pprint
import pyspark
import pyspark.sql.functions as F
from pyspark.sql.functions import col
from pyspark.sql.types import StringType, IntegerType, FloatType, DateType

from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.ml.feature import Imputer, StringIndexer
from pyspark.ml import Pipeline
from pyspark.sql import functions as F
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, StandardScaler
from pyspark.ml import Pipeline

In [2]:
# Load Gold Table
# Initialize SparkSession
spark = pyspark.sql.SparkSession.builder \
    .appName("dev") \
    .master("local[*]") \
    .getOrCreate()

#Pyspark remove warnings
spark.sparkContext.setLogLevel("ERROR")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/09 06:04:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# set up config
model_train_date_str = "2024-09-01"
train_test_period_months = 12
oot_period_months = 2
train_test_ratio = 0.8

config = {}
config["model_train_date_str"] = model_train_date_str
config["train_test_period_months"] = train_test_period_months
config["oot_period_months"] =  oot_period_months
config["model_train_date"] =  datetime.strptime(model_train_date_str, "%Y-%m-%d")
config["oot_end_date"] =  config['model_train_date'] - timedelta(days = 1)
config["oot_start_date"] =  config['model_train_date'] - relativedelta(months = oot_period_months)
config["train_test_end_date"] =  config["oot_start_date"] - timedelta(days = 1)
config["train_test_start_date"] =  config["oot_start_date"] - relativedelta(months = train_test_period_months)
config["train_test_ratio"] = train_test_ratio

pprint.pprint(config)

{'model_train_date': datetime.datetime(2024, 9, 1, 0, 0),
 'model_train_date_str': '2024-09-01',
 'oot_end_date': datetime.datetime(2024, 8, 31, 0, 0),
 'oot_period_months': 2,
 'oot_start_date': datetime.datetime(2024, 7, 1, 0, 0),
 'train_test_end_date': datetime.datetime(2024, 6, 30, 0, 0),
 'train_test_period_months': 12,
 'train_test_ratio': 0.8,
 'train_test_start_date': datetime.datetime(2023, 7, 1, 0, 0)}

# Load Labels

In [4]:
gold_label_directory = "/app/datamart/gold/label_store/"

# Read all CSV files into a single DataFrame
files_list = [gold_label_directory+os.path.basename(f) for f in glob.glob(os.path.join(gold_label_directory, '*'))]
df_labels = spark.read.option("header", "true").parquet(*files_list)

# extract label store
df_labels = df_labels.filter((col("snapshot_date") >= config["train_test_start_date"]) & (col("snapshot_date") <= config["oot_end_date"]))

print("extracted df_labels", df_labels.count(), config["train_test_start_date"], config["oot_end_date"])

extracted df_labels 6443 2023-07-01 00:00:00 2024-08-31 00:00:00

In [5]:
df_labels.show()

df_labels.count()

+--------------------+-----------+-----+----------+-------------+
|             loan_id|Customer_ID|label| label_def|snapshot_date|
+--------------------+-----------+-----+----------+-------------+
|CUS_0x1037_2023_0...| CUS_0x1037|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1069_2023_0...| CUS_0x1069|    0|90dpd_7mob|   2023-08-01|
|CUS_0x114a_2023_0...| CUS_0x114a|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1184_2023_0...| CUS_0x1184|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1297_2023_0...| CUS_0x1297|    1|90dpd_7mob|   2023-08-01|
|CUS_0x12fb_2023_0...| CUS_0x12fb|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1325_2023_0...| CUS_0x1325|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1341_2023_0...| CUS_0x1341|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1375_2023_0...| CUS_0x1375|    1|90dpd_7mob|   2023-08-01|
|CUS_0x13a8_2023_0...| CUS_0x13a8|    0|90dpd_7mob|   2023-08-01|
|CUS_0x13ef_2023_0...| CUS_0x13ef|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1440_2023_0...| CUS_0x1440|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1443_2023_0...| CUS_0x1443|    0|90dpd_7mob|   2023-08-01|
|CUS_0x145a_2023_0...| CUS_0x145a|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1492_2023_0...| CUS_0x1492|    0|90dpd_7mob|   2023-08-01|
|CUS_0x153d_2023_0...| CUS_0x153d|    0|90dpd_7mob|   2023-08-01|
|CUS_0x1567_2023_0...| CUS_0x1567|    0|90dpd_7mob|   2023-08-01|
|CUS_0x15ad_2023_0...| CUS_0x15ad|    1|90dpd_7mob|   2023-08-01|
|CUS_0x1630_2023_0...| CUS_0x1630|    1|90dpd_7mob|   2023-08-01|
|CUS_0x169c_2023_0...| CUS_0x169c|    0|90dpd_7mob|   2023-08-01|
+--------------------+-----------+-----+----------+-------------+
only showing top 20 rows

6443

# Load Features

In [6]:
gold_feature_directory = "/app/datamart/gold/feature_store/"

# Read all CSV files into a single DataFrame
files_list = [gold_feature_directory+os.path.basename(f) for f in glob.glob(os.path.join(gold_feature_directory, '*'))]
df_features = spark.read.option("header", "true").parquet(*files_list)

df_features = df_features.filter((col("snapshot_date") >= config["train_test_start_date"]) & (col("snapshot_date") <= config["oot_end_date"]))

print("extracted df_features", df_features.count(), config["train_test_start_date"], config["oot_end_date"])

extracted df_features 125636 2023-07-01 00:00:00 2024-08-31 00:00:00

In [7]:
df_features.show()

+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------+------------------------+--------------------+------------------+-------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------------+
|Customer_ID|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Credit_Utilization_Ratio|   Payment_Behaviour|Credit_History_Age|   Occupation|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|snapshot_date|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------+------------------------+--------------------+------------------+-------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------------+
| CUS_0x6ba9|     20272.23|            1776.3525|              4.0|            3.0|         12.0|        1.0|               -1.0|                   5.0|                4.83|                 6.0|      Good|                  33.874|High_spent_Medium...|               332|       Lawyer| 102| 137| -26| 126| 131| -70| 105| -68| 145|   74|  200| -210|  145|  184|  248|   25|  -19|  164|   16|  184|   2024-03-01|
| CUS_0x74c7|     87853.56|              7527.13|              4.0|            1.0|          4.0|        2.0|                2.0|                   2.0|                9.99|                 4.0|      Good|               27.837519|High_spent_Large_...|               208|   Unemployed|  74| 137|  26|  53| -13| 111| 239| 316| 162|  142|   83|   30|   -9|   18|  -50|  103|  -44|  111|  -55|   93|   2024-03-01|
|  CUS_0xc65|         NULL|                 NULL|             NULL|           NULL|         NULL|       NULL|               NULL|                  NULL|                NULL|                NULL|      NULL|                    NULL|                NULL|              NULL|         NULL| 220|  73| 327| 110| 203| -95|  56| 180|  16|  156|   -7|   60|  230|  109|  147|   39|   10|  193|   72|   39|   2024-03-01|
| CUS_0x5a8b|         NULL|                 NULL|             NULL|           NULL|         NULL|       NULL|               NULL|                  NULL|                NULL|                NULL|      NULL|                    NULL|                NULL|              NULL|         NULL| 232|  54| 192| 249| 309| 154| 207| 139| 133|  111|   80|  131|  -58|  -18|  169|  -27|  119|  106|  -18|  188|   2024-03-01|
| CUS_0x78d3|    17773.775|             1388.148|              3.0|            1.0|          2.0|        2.0|                5.0|                   2.0|                4.57|                 4.0|      Good|               31.760332|Low_spent_Small_v...|               318|   Journalist| 114|  91|  97| 210| 158| -73|  20| -53| 119|  193|   73|  175|   25|  264|  272|  305|  133|  126|   81|   83|   2024-03-01|
| CUS_0x7f5d|     20615.79|            1761.9825|              7.0|            7.0|         21.0|        7.0|               56.0|                  13.0|               10.01|                 8.0|  Standard|                37.84495|Low_spent_Small_v...|               148|      Teacher| 201| 147|   2| 162| 204|  55| 238|  11|  19|  164|   -2|   30|  153|   37|   68|  289|  228|  258|  200|  -96|   2024-03-01|
| CUS_0x8eb2|         NULL|                 NULL|             NULL|           NULL|         NULL|       NULL|               NULL|                  NULL|                NULL|                NULL|      NULL|                    NULL|                NULL|              NULL|         NULL| 147|  92|  63| 165| 157| 211| 141| 115| 133|   51|   -6|   17|  111|   96|   14|  159|   14|   24|   44|  165|   2024-03-01|
|  CUS_0xf6c|     76046.25|            6082.1875|              7.0|            3.0|         16.0|        3.0|               17.0|                  19.0|                3.29|                 9.0|  Standard|               22.548635|Low_spent_Small_v...|               368|       Writer|-151|  18|  41| 215| 291| -15|  19|  63| -32|  153|  225|  176|  199|    1|  116|  171|   15|  289|   65|  172|   2024-03-01|
| CUS_0x7e24|     49854.92|            4216.5767|              8.0|            3.0|         17.0|        3.0|               17.0|                  18.0|                8.07|                 5.0|  Standard|               38.213825|             Unknown|               218|Media_Manager|  97| 147|  85| 159|  55| 159|  86|  45|  28|  210|   -7|  191|  200|  123|  171|   38|  144|  113|  -13|   42|   2024-03-01|
| CUS_0xc65a|     33588.38|            2623.0317|              2.0|            1.0|         12.0|        2.0|                0.0|                  11.0|                8.24|                 4.0|      Good|               23.830828|High_spent_Large_...|               324|Media_Manager|  40| 104| 128| -23| 150| 163| 228| 176| 188|  159|  227|   90|   90|  151|  221|  179|  107| -104|  232|   13|   2024-03-01|
|  CUS_0xebe|     28286.24|            2273.1868|              4.0|            7.0|          7.0|        1.0|               21.0|                  13.0|               11.99|                 4.0|  Standard|               28.700365|High_spent_Medium...|               356|   Journalist| 101| -24| 167|  31| 139| 198| -36|  96| 219|  108|  232|   83|  146|  138|  168|   24|  118|  -46|  148|  259|   2024-03-01|
| CUS_0x1ed5|     18965.35|            1317.4458|             10.0|            7.0|         20.0|        3.0|               21.0|                  18.0|                7.33|                 6.0|       Bad|               27.237741|Low_spent_Small_v...|                96|      Teacher| 135| 200| 274|   6| 178|  18| 101|  63| 199|  209|  112|  -56|  -21|   57|  150|  -87|  -49|  -54|   71|  251|   2024-03-01|
| CUS_0x5479|     29365.12|            2524.0933|              5.0|            5.0|         12.0|        1.0|               11.0|                  11.0|                7.04|                 5.0|         _|               25.221605|Low_spent_Large_v...|               316|     Musician|  75| 205|  67|  82|  83| 243| 252| -48|  81|    6|    8|  204|  221|   25|  218|   72|   81|   22|   95|   51|   2024-03-01|
| CUS_0x7e8d|         NULL|                 NULL|             NULL|           NULL|         NULL|       NULL|               NULL|                  NULL|                NULL|                NULL|      NULL|                    NULL|                NULL|              NULL|         NULL| -34|  55| -53| 100| 243| 135|  29|  74| 285|    8|  202|   95|   32|   74|  136|   66|  124|   12|   47|   70|   2024-03-01|
| CUS_0xb38d|     18409.79|            1594.1492|              7.0|           10.0|         16.0|        5.0|               33.0|                  25.0|                5.16|                11.0|       Bad|                33.87914|Low_spent_Small_v...|               111|      Teacher| -69| 140| 137| 205|  37| 207| 192| 123|  31|  122|  144|  161|  197|   21|   -1|   77|  148|   65|   45|  -41|   2024-03-01|
| CUS_0xafeb|     15910.33|            1111.8608|              8.0|            8.0|         21.0|        9.0|               16.0|                  16.0|               15.26|                 8.0|         _|               30.943031|High_spent_Medium...|               170|      Manager| 117|  84|   0| 130| 112| 124| 112| 136|  61|  195|  264|  192|  241|   84|   89|  127|  242|   34|  189|  195|   2024-03-01|
| CUS_0x1b0f|         NULL|                 NULL|             NULL|           NULL|         NULL|       NULL|               NULL|                  NULL|                NULL|                NULL|      NULL|                    NULL|                NULL|              NULL|         NULL| 159| 233|-181| 220|  18| 265|  39|  47|  44|  -29|  -17|  224|   73|  133|   96|   83|   62|  140|  169|  116|   2024-03-01|
| CUS_0x834f|         NULL|                 NULL|             NULL|           NULL|         NULL|       NULL|               NULL|                  NULL|                NULL|                NULL|      NULL|                    NULL|                NULL|              NULL|         NULL| 143| 253| 367| 210|  23| 141| 145| 209|  17|  204|   17|    1|   63|  -52|  258|   28|  224|  141|  -18|   32|   2024-03-01|
| CUS_0x856b|         NULL|                 NULL|             NULL|           NULL|         NULL|       NULL|               NULL|                  NULL|                NULL|                NULL|      NULL|                    NULL|                NULL|              NULL|         NULL| 107|  12|-167| -47| 256| 102| 148|  30| 130|  228|  271|   70|  246|  219|  151|  108|  239|   40|  143|  343|   2024-03-01|
| CUS_0x8d3d|     16750.04|            1435.8367|              9.0|           10.0|         27.0|        6.0|               41.0|                  19.0|                29.4|                15.0|       Bad|               23.590292|Low_spent_Small_v...|               144|      Manager| 142| 129|   5| 306|  46| 209| 165|  63| 207|  200|  298|  119|  102|  -25|   49|  246|  -55|  301|  201|  120|   2024-03-01|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------+------------------------+--------------------+------------------+-------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------------+
only showing top 20 rows

# Clean Features

In [8]:
num_null_ids = df_features.filter(F.col("Customer_ID").isNull()).count()
total_rows = df_features.count()
print(f"Customer_ID nulls: {num_null_ids} / {total_rows}")

Customer_ID nulls: 0 / 125636

In [9]:
data_pdf = df_labels.join(df_features, on=["Customer_ID", "snapshot_date"], how="left").toPandas()
data_pdf = data_pdf.dropna()

print("Row count:", data_pdf.count())

Row count: Customer_ID                 4987
snapshot_date               4987
loan_id                     4987
label                       4987
label_def                   4987
Annual_Income               4987
Monthly_Inhand_Salary       4987
Num_Bank_Accounts           4987
Num_Credit_Card             4987
Interest_Rate               4987
Num_of_Loan                 4987
Delay_from_due_date         4987
Num_of_Delayed_Payment      4987
Changed_Credit_Limit        4987
Num_Credit_Inquiries        4987
Credit_Mix                  4987
Credit_Utilization_Ratio    4987
Payment_Behaviour           4987
Credit_History_Age          4987
Occupation                  4987
fe_1                        4987
fe_2                        4987
fe_3                        4987
fe_4                        4987
fe_5                        4987
fe_6                        4987
fe_7                        4987
fe_8                        4987
fe_9                        4987
fe_10                       4987
fe_11                       4987
fe_12                       4987
fe_13                       4987
fe_14                       4987
fe_15                       4987
fe_16                       4987
fe_17                       4987
fe_18                       4987
fe_19                       4987
fe_20                       4987
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split


# split data into train - test - oot
oot_pdf = data_pdf[(data_pdf['snapshot_date'] >= config["oot_start_date"].date()) & (data_pdf['snapshot_date'] <= config["oot_end_date"].date())]
train_test_pdf = data_pdf[(data_pdf['snapshot_date'] >= config["train_test_start_date"].date()) & (data_pdf['snapshot_date'] <= config["train_test_end_date"].date())]

num_cols = [
    "Annual_Income",
    "Monthly_Inhand_Salary",
    "Num_Bank_Accounts",
    "Num_Credit_Card",
    "Interest_Rate",
    "Num_of_Loan",
    "Delay_from_due_date",
    "Num_of_Delayed_Payment",
    "Changed_Credit_Limit",
    "Num_Credit_Inquiries",
    "Credit_Utilization_Ratio",
    "Credit_History_Age",
    "fe_1","fe_2","fe_3","fe_4","fe_5","fe_6","fe_7","fe_8","fe_9","fe_10",
    "fe_11","fe_12","fe_13","fe_14","fe_15","fe_16","fe_17","fe_18","fe_19","fe_20"
]

cat_cols = ["Credit_Mix", "Payment_Behaviour", "Occupation"]

feature_cols = cat_cols + num_cols

X_oot = oot_pdf[feature_cols]
y_oot = oot_pdf["label"]
X_train, X_test, y_train, y_test = train_test_split(
    train_test_pdf[feature_cols], train_test_pdf["label"], 
    test_size= 1 - config["train_test_ratio"],
    random_state=88,     # Ensures reproducibility
    shuffle=True,        # Shuffle the data before splitting
    stratify=train_test_pdf["label"]           # Stratify based on the label column
)


print('X_train', X_train.shape[0])
print('X_test', X_test.shape[0])
print('X_oot', X_oot.shape[0])
print('y_train', y_train.shape[0], round(y_train.mean(),2))
print('y_test', y_test.shape[0], round(y_test.mean(),2))
print('y_oot', y_oot.shape[0], round(y_oot.mean(),2))

X_train

X_train 3396
X_test 850
X_oot 741
y_train 3396 0.27
y_test 850 0.27
y_oot 741 0.28

,Credit_Mix,Payment_Behaviour,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,...,fe_11,fe_12,fe_13,fe_14,fe_15,fe_16,fe_17,fe_18,fe_19,fe_20
2364,Bad,Low_spent_Medium_value_payments,Mechanic,73083.437500,6264.286621,7.0,9.0,28.0,6.0,38.0,...,42,67,125,149,62,159,177,158,171,84
4783,Good,Low_spent_Medium_value_payments,Journalist,77224.882812,6221.406738,2.0,1.0,12.0,4.0,10.0,...,118,21,81,265,-11,127,207,-29,237,20
6182,Good,High_spent_Large_value_payments,Journalist,85038.867188,6836.572266,0.0,2.0,6.0,3.0,6.0,...,212,182,163,220,115,104,44,116,94,134
1420,Standard,High_spent_Large_value_payments,Engineer,88014.390625,7172.532715,4.0,5.0,17.0,2.0,13.0,...,79,139,103,135,-46,-17,-104,125,114,94
2556,Standard,Unknown,Journalist,44985.718750,3791.810059,6.0,4.0,15.0,4.0,23.0,...,144,98,-94,78,110,56,108,150,31,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,Bad,Unknown,Manager,15837.309570,1019.775818,8.0,6.0,16.0,8.0,54.0,...,108,24,209,81,274,66,127,52,50,175
662,Standard,Low_spent_Small_value_payments,Doctor,44103.179688,3416.264893,3.0,7.0,13.0,4.0,5.0,...,146,240,154,209,264,228,77,80,72,88
5522,Standard,Low_spent_Large_value_payments,Accountant,28163.570312,2466.964111,6.0,6.0,16.0,6.0,14.0,...,-83,172,27,102,123,46,233,57,164,242
4696,Standard,High_spent_Small_value_payments,Developer,29375.679688,2728.973389,4.0,8.0,27.0,6.0,5.0,...,117,11,85,10,166,-119,98,302,39,43
4697,_,Low_spent_Medium_value_payments,Musician,8637.094727,644.757935,5.0,7.0,14.0,4.0,18.0,...,95,194,165,187,130,170,269,162,-11,163

In [11]:
import numpy as np
import pandas as pd  # ✅ missing import
from sklearn.preprocessing import StandardScaler  # ✅ indentation fixed

def process_features(input_df):
    
    # Replace "_" with NaN
    string_cols = input_df.select_dtypes(include="object").columns.tolist()
    for c in string_cols:
        input_df[c] = input_df[c].replace("_", np.nan)

    # 3️⃣ One-hot encode categoricals
    onehot_cols = ["Credit_Mix", "Payment_Behaviour", "Occupation"]
    input_df = pd.get_dummies(input_df, columns=onehot_cols, drop_first=False)

    # Convert boolean columns to 0/1
    bool_cols = input_df.select_dtypes(include="bool").columns
    input_df[bool_cols] = input_df[bool_cols].astype(int)


    scaler = StandardScaler()

    num_cols = [
        "Annual_Income","Monthly_Inhand_Salary","Num_Bank_Accounts","Num_Credit_Card",
        "Interest_Rate","Num_of_Loan","Delay_from_due_date","Num_of_Delayed_Payment",
        "Changed_Credit_Limit","Num_Credit_Inquiries","Credit_Utilization_Ratio",
        "Credit_History_Age",
        "fe_1","fe_2","fe_3","fe_4","fe_5","fe_6","fe_7","fe_8","fe_9","fe_10",
        "fe_11","fe_12","fe_13","fe_14","fe_15","fe_16","fe_17","fe_18","fe_19","fe_20"
    ]

    input_df[num_cols] = scaler.fit_transform(input_df[num_cols])

    return input_df

In [12]:
X_train_processed = process_features(X_train)
X_test_processed = process_features(X_test)
X_oot_processed = process_features(X_oot)


print('X_train_processed', X_train_processed.shape[0])
print('X_test_processed', X_test_processed.shape[0])
print('X_oot_processed', X_oot_processed.shape[0])

pd.DataFrame(X_train_processed)

X_train_processed 3396
X_test_processed 850
X_oot_processed 741

/tmp/ipykernel_21163/2901114125.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df[c] = input_df[c].replace("_", np.nan)

,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,...,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Unemployed,Occupation_Writer
2364,0.719012,0.790887,0.704714,1.804179,1.678644,1.120857,1.491725,0.347630,-1.349270,-0.096474,...,0,0,0,1,0,0,0,0,0,0
4783,0.840700,0.775711,-1.252760,-2.187672,-0.210717,0.268544,-0.708960,-0.632217,-1.509875,-0.096474,...,1,0,0,0,0,0,0,0,0,0
6182,1.070299,0.993429,-2.035750,-1.688690,-0.919227,-0.157613,-1.023343,-0.795524,-0.970815,-1.131629,...,1,0,0,0,0,0,0,0,0,0
1420,1.157729,1.112331,-0.469771,-0.191746,0.379708,-0.583769,-0.473172,0.021015,0.962805,-0.355263,...,0,0,0,0,0,0,0,0,0,0
2556,-0.106585,-0.084163,0.313219,-0.690728,0.143538,0.268544,0.312787,0.837554,0.603432,0.679892,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,-0.963054,-1.065231,1.096209,0.307235,0.261623,1.973170,2.749259,1.490785,1.417587,1.456258,...,0,0,1,0,0,0,0,0,0,0
662,-0.132517,-0.217074,-0.861266,0.806216,-0.092632,0.268544,-1.101939,0.510938,0.263140,0.162315,...,0,0,0,0,0,0,0,0,0,0
5522,-0.600871,-0.553048,0.313219,0.307235,0.261623,1.120857,-0.394576,-0.632217,0.794250,0.421103,...,0,0,0,0,0,0,0,0,0,0
4696,-0.565255,-0.460318,-0.469771,1.305198,1.560559,1.120857,-1.101939,-0.142293,0.364910,2.232625,...,0,0,0,0,0,0,0,0,0,0
4697,-1.174618,-1.197956,-0.078276,0.806216,0.025453,0.268544,-0.080193,-0.305601,-0.113725,0.162315,...,0,0,0,0,0,1,0,0,0,0

In [16]:
from sklearn.metrics import make_scorer, roc_auc_score
from sklearn.model_selection import RandomizedSearchCV
import xgboost as xgb



# Define the XGBoost classifier
xgb_clf = xgb.XGBClassifier(eval_metric='logloss', random_state=88)

# Define the hyperparameter space to search
param_dist = {
    'n_estimators': [25, 50],
    'max_depth': [2, 3],  # lower max_depth to simplify the model
    'learning_rate': [0.01, 0.1],
    'subsample': [0.6, 0.8],
    'colsample_bytree': [0.6, 0.8],
    'gamma': [0, 0.1],
    'min_child_weight': [1, 3, 5],
    'reg_alpha': [0, 0.1, 1],
    'reg_lambda': [1, 1.5, 2]
}

# Create a scorer based on AUC score
auc_scorer = make_scorer(roc_auc_score)

# Set up the random search with cross-validation
random_search = RandomizedSearchCV(
    estimator=xgb_clf,
    param_distributions=param_dist,
    scoring=auc_scorer,
    n_iter=100,  # Number of iterations for random search
    cv=3,       # Number of folds in cross-validation
    verbose=1,
    random_state=42,
    n_jobs=-1   # Use all available cores
)

# Perform the random search
random_search.fit(X_train_processed, y_train)

# Output the best parameters and best score
print("Best parameters found: ", random_search.best_params_)
print("Best AUC score: ", random_search.best_score_)

# Evaluate the model on the train set
best_model = random_search.best_estimator_
y_pred_proba = best_model.predict_proba(X_train_processed)[:, 1]
train_auc_score = roc_auc_score(y_train, y_pred_proba)
print("Train AUC score: ", train_auc_score)

# Evaluate the model on the test set
best_model = random_search.best_estimator_
y_pred_proba = best_model.predict_proba(X_test_processed)[:, 1]
test_auc_score = roc_auc_score(y_test, y_pred_proba)
print("Test AUC score: ", test_auc_score)

# Evaluate the model on the oot set
best_model = random_search.best_estimator_
y_pred_proba = best_model.predict_proba(X_oot_processed)[:, 1]
oot_auc_score = roc_auc_score(y_oot, y_pred_proba)
print("OOT AUC score: ", oot_auc_score)

print("TRAIN GINI score: ", round(2*train_auc_score-1,3))
print("Test GINI score: ", round(2*test_auc_score-1,3))
print("OOT GINI score: ", round(2*oot_auc_score-1,3))

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Best parameters found:  {'subsample': 0.8, 'reg_lambda': 1, 'reg_alpha': 1, 'n_estimators': 50, 'min_child_weight': 3, 'max_depth': 3, 'learning_rate': 0.1, 'gamma': 0, 'colsample_bytree': 0.8}
Best AUC score:  0.685450912651809
Train AUC score:  0.8745471396073806
Test AUC score:  0.799541519875676
OOT AUC score:  0.804681194511703
TRAIN GINI score:  0.749
Test GINI score:  0.599
OOT GINI score:  0.609

In [17]:
scaler=StandardScaler()

model_artefact = {}

model_artefact['model'] = best_model
model_artefact['model_name'] = "xgb"
model_artefact['model_version'] = "credit_model_"+config["model_train_date_str"].replace('-','_')
model_artefact['preprocessing_transformers'] = {}
model_artefact['preprocessing_transformers']['stdscaler'] = scaler
model_artefact['data_dates'] = config
model_artefact['data_stats'] = {}
model_artefact['data_stats']['X_train'] = X_train.shape[0]
model_artefact['data_stats']['X_test'] = X_test.shape[0]
model_artefact['data_stats']['X_oot'] = X_oot.shape[0]
model_artefact['data_stats']['y_train'] = round(y_train.mean(),2)
model_artefact['data_stats']['y_test'] = round(y_test.mean(),2)
model_artefact['data_stats']['y_oot'] = round(y_oot.mean(),2)
model_artefact['results'] = {}
model_artefact['results']['auc_train'] = train_auc_score
model_artefact['results']['auc_test'] = test_auc_score
model_artefact['results']['auc_oot'] = oot_auc_score
model_artefact['results']['gini_train'] = round(2*train_auc_score-1,3)
model_artefact['results']['gini_test'] = round(2*test_auc_score-1,3)
model_artefact['results']['gini_oot'] = round(2*oot_auc_score-1,3)
model_artefact['hp_params'] = random_search.best_params_


pprint.pprint(model_artefact)

{'data_dates': {'model_train_date': datetime.datetime(2024, 9, 1, 0, 0),
                'model_train_date_str': '2024-09-01',
                'oot_end_date': datetime.datetime(2024, 8, 31, 0, 0),
                'oot_period_months': 2,
                'oot_start_date': datetime.datetime(2024, 7, 1, 0, 0),
                'train_test_end_date': datetime.datetime(2024, 6, 30, 0, 0),
                'train_test_period_months': 12,
                'train_test_ratio': 0.8,
                'train_test_start_date': datetime.datetime(2023, 7, 1, 0, 0)},
 'data_stats': {'X_oot': 741,
                'X_test': 850,
                'X_train': 3396,
                'y_oot': np.float64(0.28),
                'y_test': np.float64(0.27),
                'y_train': np.float64(0.27)},
 'hp_params': {'colsample_bytree': 0.8,
               'gamma': 0,
               'learning_rate': 0.1,
               'max_depth': 3,
               'min_child_weight': 3,
               'n_estimators': 50,
               'reg_alpha': 1,
               'reg_lambda': 1,
               'subsample': 0.8},
 'model': XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='logloss',
              feature_types=None, feature_weights=None, gamma=0,
              grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=3, max_leaves=None,
              min_child_weight=3, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=50, n_jobs=None,
              num_parallel_tree=None, ...),
 'model_name': 'xgb',
 'model_version': 'credit_model_2024_09_01',
 'preprocessing_transformers': {'stdscaler': StandardScaler()},
 'results': {'auc_oot': np.float64(0.804681194511703),
             'auc_test': np.float64(0.799541519875676),
             'auc_train': np.float64(0.8745471396073806),
             'gini_oot': np.float64(0.609),
             'gini_test': np.float64(0.599),
             'gini_train': np.float64(0.749)}}

In [18]:
# create model_bank dir
model_bank_directory = "model_bank/"

if not os.path.exists(model_bank_directory):
    os.makedirs(model_bank_directory)

In [19]:
import pickle

# Full path to the file
file_name = f"{model_artefact['model_name']}_{model_artefact['model_version']}.pkl"
file_path = os.path.join("model_bank/", file_name)

# Write the model to a pickle file
with open(file_path, 'wb') as file:
    pickle.dump(model_artefact, file)

print(f"Model saved to {file_path}")

Model saved to model_bank/xgb_credit_model_2024_09_01.pkl